{% extends "base.html.tmpl" %}

{% block main %}
<div class="row">
    <h1 class="asteroid-name">Loading...</h1>
</div>

<div class="row" id="form-wrapper">
    <div class="col-md-2"></div>

    <div class="col-md-10">
        <p>
            Enter your email address and Las Cumbres Observatory will schedule
            observations of <b><span class="asteroid-name">[Loading...]</span></b>
            just for you!
        </p>
        <form method="post" id="submission-form">
            <!-- TODO: CSRF token or similar? --!>

            <!-- Errors -->
            <div id="alerts">
                <div class="alert alert-danger" role="alert">
                </div>

                <div class="alert alert-success" role="alert">
                  Observation scheduled successfully!
                </div>
            </div>

            <div class="input-group">
                <input type="text" name="email" class="form-control"
                       placeholder="Email address..." required />
                <span class="input-group-btn">
                    <input type=submit value="Track!" class="btn btn-default" />
                </span>
            </div>
        </form>
        {# TODO: what is the paragraph for? No status lookup is supported atm #}
        <!-- <p> -->
        <!--     If you've already joined this campaign, enter your email address -->
        <!--     and we'll look up the status of your images. -->
        <!-- </p> -->
        <p>
            Everyone's images are automatically combined into a timelapse
            video, shown below.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-10">
        <div id="asteroid-timelapses" style="display:none;">
            <video width="100%" controls>
                <source />
                Your browser does not support the video tag. Try
                <a>downloading</a>
                instead.
            </video>

            <img width="100%" />

            <p class="caption">
                Timelapse made from <b><span id="timelapse-num-images">[Loading...]</span></b>
                images, last updated <b><span id="timelapse-last-updated">[Loading...]</span></b>
            </p>
        </div>

        <div id="no-timelapses" style="display:none;">
            <p>No timelapse is available.</p>
        </div>

        <h3>Information</h3>
            <p id="asteroid-info">Loading...</p>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script type="text/json" id="asteroid-settings">
    {{ settings|tojson }}
</script>
<script type="text/javascript" src="/static/js/asteroid.js"></script>
{% endblock %}
