{% extends "base.html.tmpl" %}
{% block main %}
<h1 class="masthead">Asteroid Tracker</h1>

<p class="lead">
    Join our international campaign to observe Near Earth Asteroids with Las
    Cumbres Observatory.
    <br/>
    Click the asteroids below to see timelapses created by over 500 citizen
    scientists!
</p>

<div class="panels-wrapper">
    <div class="row panels">
        <h3>Active Asteroid Campaigns</h3>
        {% for target in targets %}
            {% if target.active %}
                {% include "target_homepage_listing.html.tmpl" %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="row panels">
        <h3>Past Asteroid Campaigns</h3>
        {% for target in targets %}
            {% if not target.active %}
                {% include "target_homepage_listing.html.tmpl" %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
